.react-aria-DropZone {
  background: rgba(0, 0, 0, 0.27);
  border: 5px dashed rgba(255, 255, 255, 0.66);
  forced-color-adjust: none;
  border-radius: 4px;
  appearance: none;
  vertical-align: middle;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  outline: none;
  padding: 24px 12px;
  width: 25%;
  display: inline-block;

  &[data-focus-visible],
  &[data-drop-target] {
    border-color: white;
  }

  &[data-drop-target] {
    background: rgba(255, 255, 255, 0.27);
  }
}
